<header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Learn more about your favorite beers</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline buttons">
                        <a class="btn btn-light" href="/beers">Check the beers!</a>
                        <a class="btn btn-light" href="/randombeers">Check the random beers!</a>
                    </div>
                </div>
            </div>
        </header>
